.navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    z-index: 1000;
    min-height: 60px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

}


.left {
    /* padding-left: 100px; */
    margin-left: 200px;

    /* text-align: center; */
    z-index: 99;
    /* justify-content: center; */
}

.center {
    display: flex;
    /* align-items: center; */
    flex: 1;
    justify-content: center;
}

.logo img {
    height: 40px;
}

.searchInput {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 300px;
    font-size: 14px;
}

.searchButton {
    padding: 8px 12px;
    background-color: white;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.loginButton {
    padding: 8px 16px;
    background-color: white;
    border: 2px solid #ff4500;
    border-radius: 6px;
    font-weight: bold;
    color: #ff4500;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

/* .loginButton:hover {
    background-color: #ffe3d5;
} */

/* .searchInput {
  flex: 1;
  padding: 12px 16px;
  border: 1px solid black;
  font-size: 16px;
  outline: none;
}

.searchButton { */
/* background-color: #1976d2;  */
/* color: rgb(19, 10, 10);
  padding: 0 16px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
} */