.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transform: translateX(-50%);

}

.left, .right {
    flex: 0 0 auto;
}

.center {
    flex: 1 1 auto;
    /* chiếm phần còn lại */
    display: flex;
    justify-content: center;
}

.logo img {
    height: 40px;
    margin-left: 30rem;
}

.searchInput {
    width: 100%;
    max-width: 500px;
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.loginButton {
    padding: 8px 16px;
    background-color: white;
    color: #ff5722;
    border: 1px solid #ff5722;
    border-radius: 4px;
    font-weight: bold;
    /* cursor: pointer; */
    margin-right: 30rem;
}

/* .loginButton:hover {
    background-color: #ffe3d5;
} */

.searchInput {
  flex: 1;
  padding: 12px 16px;
  border: 1px solid black;
  font-size: 16px;
  outline: none;
}

.searchButton {
  /* background-color: #1976d2;  */
  color: rgb(19, 10, 10);
  padding: 0 16px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
}