.container {
    max-width: 600px;
    margin: auto;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
    position: relative;

}
.content{
    margin-top: 0;
    margin-bottom: 1rem;
}

.sendMail{
    margin: auto;
    max-width: 100%;
}

.sendMail input{
    border-radius: 5px solid black;
    height: 30px;
    padding: 4px;
    min-width: 98%;
}

.btnSend{
    background-color: #0188D2;
    color: #fff;
    padding: 6px;
    margin-top: 10px;
    width: 100%;
    border-radius: 0;
}